@import "rem";

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  height: 100vh;

  color: #ff8c00;
  background-color: #005454;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .App {
    min-height: min-content;
    max-width: 600px;
    background-color: #016161;
    border-radius: 20px;
    padding: 20px;
  }
}

a {
  color: #ff8c00;
  text-decoration: underline;
}
